LongPollingDemo/LongPollingDemo.Client/Service References/NotificationServiceReference/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExternalNotificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_INotificationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LongPolling" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotificationService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="INotificationService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetNotifications_x0028__x0029__InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotifications_x0028__x0029_" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetNotifications_x0028__x0029__OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotifications_x0028__x0029_Response" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetNotifications_x0028_User_x002C__x0020_TimeSpan_x0029__InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotifications_x0028_User_x002C__x0020_TimeSpan_x0029_" />
  </wsdl:message>
  <wsdl:message name="INotificationService_GetNotifications_x0028_User_x002C__x0020_TimeSpan_x0029__OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotifications_x0028_User_x002C__x0020_TimeSpan_x0029_Response" />
  </wsdl:message>
  <wsdl:message name="INotificationService_Unregister_InputMessage">
    <wsdl:part name="parameters" element="tns:Unregister" />
  </wsdl:message>
  <wsdl:message name="INotificationService_Unregister_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterResponse" />
  </wsdl:message>
  <wsdl:portType name="INotificationService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/Register" message="tns:INotificationService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/RegisterResponse" message="tns:INotificationService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotifications_x0028__x0029_">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/GetNotifications()" message="tns:INotificationService_GetNotifications_x0028__x0029__InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/GetNotifications()Response" message="tns:INotificationService_GetNotifications_x0028__x0029__OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotifications_x0028_User_x002C__x0020_TimeSpan_x0029_">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/GetNotifications(User, TimeSpan)" message="tns:INotificationService_GetNotifications_x0028_User_x002C__x0020_TimeSpan_x0029__InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/GetNotifications(User, TimeSpan)Response" message="tns:INotificationService_GetNotifications_x0028_User_x002C__x0020_TimeSpan_x0029__OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unregister">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/Unregister" message="tns:INotificationService_Unregister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/UnregisterResponse" message="tns:INotificationService_Unregister_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_INotificationService" type="tns:INotificationService">
    <wsp:PolicyReference URI="#NetTcpBinding_INotificationService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/INotificationService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotifications_x0028__x0029_">
      <soap12:operation soapAction="http://tempuri.org/INotificationService/GetNotifications()" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotifications_x0028_User_x002C__x0020_TimeSpan_x0029_">
      <soap12:operation soapAction="http://tempuri.org/INotificationService/GetNotifications(User, TimeSpan)" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unregister">
      <soap12:operation soapAction="http://tempuri.org/INotificationService/Unregister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExternalNotificationService">
    <wsdl:port name="NetTcpBinding_INotificationService" binding="tns:NetTcpBinding_INotificationService">
      <soap12:address location="net.tcp://localhost:5537/NotificationService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5537/NotificationService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>CONNER-PC\Conner</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>